<!DOCTYPE html>
<html>

<head>
  <title>Predicción</title>
  <script src="{{ url_for('static', filename='JS/predictor.js') }}"></script>
  <link href="{{ url_for('static', filename='CSS/predictor.css') }}" rel="stylesheet">
  </script>
</head>

<body>
  {% extends 'base.html' %}
  {% block content %}
  <h1 class="card-title display-4 text-primary">Ejemplo de predicción</h1>
  <hr class="border-primary">

  <form id="uploadForm" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="fileInput" class="form-label fs-4">Selecciona un fichero .csv</label>
      <input type="file" class="form-control form-control-lg" id="fileInput" name="file" required>
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary btn-lg">Predecir</button>
    </div>

    <div id="message" role="alert" hidden></div>
  </form>
  {% endblock %}
</body>

</html>